body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(120deg,blue,lightblue,lightgreen,green);
    color: #333;
}
basic{}
body a{
    text-decoration:none;
    border:1px solid black;
    background:purple;
    color:#ffd700;
    border-radius:30px;
}
header {
    background: #0073e6;
    color: blue;
    padding: 20px;
    text-align: center;
    opacity:0.6;
}
header section {
    margin: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}

nav ul {
    list-style: none;
    padding: 0;
    background: #005bb5;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0073e6;
}

footer {
    text-align: center;
    padding: 10px;
    background: #0073e6;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
